@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" align="center" >
    <h1 id="pomodoroHeader"class="display-4">Pomodoro</h1>
    <p id="pomodoroTimer">0m 0s</p>    
    <button type="button" onclick="start_countdown()">START</button>
    <button type="button" onclick="reset_countdown()">RESET</button>
    <button type="button" onclick="stop_countdown()">STOP</button>
</div>


<script id="countdown">
var FOCUS_STATE = "POMODORO";
var BREAK_STATE = "BREAK";
var focusTimeLimit = 30 * 60;
var breakTimeLimit = 5 * 60;
var timeLeft = focusTimeLimit;
var tickFrequency = 1000;       // Milliseconds
var currentState = FOCUS_STATE.valueOf();
var timerID = null;

function start_countdown() {
    if (timerID === null){
        timerID = setInterval(countdown, tickFrequency);
        console.log("TimerID: " + timerID);
    }
}

function stop_countdown() {
    if (!(timerID === null)){
        clearInterval(timerID);
        timerID = null;
        console.log("Stopping countdown");
    }
}

function reset_countdown() {
    if (currentState === FOCUS_STATE){
        timeLeft = focusTimeLimit;
        console.log("reset focus state")  
    }else {
        if (currentState === BREAK_STATE){
            timeLeft = breakTimeLimit;
            console.log("reset break state")
        }
    }
}

function countdown() {
    
    timeLeft = timeLeft - 1;
    
    if (timeLeft < 0) {
        if (currentState === FOCUS_STATE) {
            currentState = BREAK_STATE.valueOf();
            console.log("Changing state to break state")
        }else {
            if (currentState === BREAK_STATE) {
                currentState = FOCUS_STATE.valueOf();
                console.log("Changing state to focus state")
            }
        }
        stop_countdown();
        reset_countdown();
        start_countdown();
    }
    
    var minutes = Math.floor(timeLeft / 60 );
    var seconds = Math.floor(timeLeft % 60 );
    
    document.getElementById("pomodoroTimer").innerHTML = minutes + "m " + seconds + "s ";
    console.log("timeLeft: " + timeLeft);
}

</script>
